offline-html/modal-iframe/dist
offline-html/modal-iframe/node_modules
offline-html/area-visualization/dist
offline-html/area-visualization/node_modules
dataverse-webresource/dist
dataverse-webresource/node_modules
